
.ChatComponent {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100vh;
  width: 100%;
  /*height: 400px;
  width: 600px;*/
/*  margin: .5em; */
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.ChatComponent .MessageList {
  box-sizing: border-box;
  flex: 1;
}

.ChatComponent .MessageList .Message {
  line-height: 1.5em;
  text-align: left;
}

.ChatComponent .MessageList .Message .author {
  font-weight: bold;
  color: #047a40;
  margin: 0 5px 0 0;
}

.ChatComponent .MessageList .Message.me .author {
  color: #b6191e;
}

.ChatComponent .MessageForm {
  /* background: #eee; */
  border-top: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  flex: 0 0 50px;
  display: flex;
  background: #ccc;
}

.ChatComponent .MessageForm .input-container {
  flex: 1;
  margin: 1px;
}

.ChatComponent .MessageForm .button-container {
  flex: 0 0 6em;
  margin: 1px 1px 1px 0;
}

.ChatComponent .MessageForm input, .MessageForm button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.MessageForm button {
  background: #047a40;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.ChatComponent .MessageForm input {
  padding: 0 0 0 4px;
}
