
.ClassCard {
    padding: 25px 10px;
    height: 200px !important;
    display: block;
    background: #fff;
}

.ClassCard .infoContainer {
    display: block;
    height: 150px !important;
    width: 100%;
}

.ClassCard .infoContainer.left {
    text-align: left;
    margin-left: 50px;
}

.ClassCard .infoContainer.left .course {
    color: #333;
}

.ClassCard .infoContainer.left .taught {
    color: #ccc;
}

.ClassCard .infoContainer.left .name {

}

.ClassCard .infoContainer.left .nextAppt {
    color: #f1b45b;
}

.ClassCard .infoContainer.right .generalBtn {
    display: block;
    margin: 10px auto 0;
    width: 100px;
}

/*
.ClassCard .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.ClassCard .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.ClassCard .card-img-top {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.ClassCard .card-title {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.ClassCard .meta {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.ClassCard .card-text {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.ClassCard .card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.ClassCard .card-footer button {
    display: inline-block;
    width: 48%;
}*/