.UserNav {
    position: relative;
    background-color: #fff;
    height: 60px;
    width: 100%;
}

.UserNav .homeBtn {
    width: auto;
    height: 60px;
    padding: 5px 0;
    display: inline;
    float: left;
    margin-left: 50px;
    cursor: pointer;
    text-align: left;
}

.UserNav .homeBtn img {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    border-radius: 50%;
}

.UserNav .homeBtn .name {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: auto;
    margin-left: 10px;
    overflow: hidden;
    line-height: 50px;
    font-weight: bold;
    text-align: left;
}

.UserNav .notificationBtn {
    height: 60px;
    width: 60px;
    padding: 15px;
    display: inline;
    float: right;
    margin-right: 20px;
}

.UserNav .notificationBtn i {
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.UserNav .logoutBtn {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 15px 50px 0 0;
    float: right;
}

.UserNav .languageBtns {
    height: 60px;
    width: 120px;
    display: inline;
    margin-right: 20px;
}

.UserNav .languageBtns .language {
    display: inline-block;
    width: 50px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.UserNav .languageBtns .language.active {
    font-weight: bold;
}

.UserNav .languageBtns .other {
    display: inline-block;
    width: 20px;
    height: 60px;
    line-height: 60px;
}